{% extends "base.html" %}
{% load my_filters %}
{% block title %}Buchung: {{accountingentry.id}}{% endblock %}

{% block content %}

{% if error_message %}<div><strong>{{ error_message }}</strong></div>{% endif %}

<div>
  <b>Vertrag:</b>
  <a href="{% url 'dkapp:contract' accountingentry.contract.id %}">
    {{accountingentry.contract}}
  </a>
</div>

<div>
  <b>Vorgang:</b>
  {{accountingentry.type}}
</div>

<div>
  <b>Datum:</b>
  {{accountingentry.date | date:"SHORT_DATE_FORMAT"}}
</div>

<div>
  <b>Betrag:</b>
  {{accountingentry.amount | euro}}
</div>

<br/>
<div>
    <a href="{% url 'dkapp:accounting_entry_edit' accountingentry.id %}">Editieren</a><br/>
    <a href="{% url 'dkapp:accounting_entry_delete' accountingentry.id %}">Löschen</a><br/>

    <hr>
    <a href="{% url 'dkapp:accounting_entries' %}">Alle Buchungen</a><br/>
    <a href="{% url 'dkapp:contract_versions' %}">Alle Vertragsversionen</a><br/>
    <a href="{% url 'dkapp:contracts' %}">Alle Verträge</a><br/>
    <a href="{% url 'dkapp:contacts' %}">Alle Kontakte</a>
</div>
{% endblock %}
