{% extends "base.html" %}
{% load my_filters %}
{% block title %}Buchungen{% endblock %}

{% block content %}

<h2>Übersicht Buchungen</h2>

<h3>Filter</h3>

<form action="{% url 'dkapp:accounting_entries_filter' %}" method="post">
  {% csrf_token %}
  <label>Vertrag</label>
  <select name='contract_id'>
    <option value="">Vertrag wählen</option>
    {% for contract in all_contracts %}
      {% if contract_id == contract.id %}
        <option value={{contract.id}} selected>{{contract}}</option>
      {% else %}
        <option value={{contract.id}}>{{contract}}</option>
      {% endif %}
    {% endfor %}
  </select>
  <input class="btn btn-success" type="submit" value="Filtern">
</form>

<form action="{% url 'dkapp:accounting_entries_filter' %}" method="post">
  {% csrf_token %}
  <label>Jahr</label>
  <input type="number" placeholder="YYYY" name="year" value="{{year}}"/>
  <input class="btn btn-success" type="submit" value="Filtern">
</form>

<form action="{% url 'dkapp:accounting_entries_filter' %}" method="post">
  {% csrf_token %}
  <label>Von</label>
  <input type="text" placeholder="DD.MM.YYYY" name="from" value="{{from}}"/>
  <label>Bis</label>
  <input type="text" placeholder="DD.MM.YYYY" name="to" value="{{to}}"/>
  <input class="btn btn-success" type="submit" value="Filtern">
</form>

<br/>

<h3>Buchungen</h3>
{% if accounting_entries %}
    <table class='table table-striped'>
      <tr>
        <th>Vorgang</th>
        <th>Datum</th>
        <th>Betrag</th>
        <th>Vertrag</th>
        <th></th>
        <th></th>
      </tr>

      {% for accounting_entry in accounting_entries %}
          <tr>
              <td>{{accounting_entry.type}}</td>
              <td>{{accounting_entry.date | date:"SHORT_DATE_FORMAT"}}</td>
              <td>{{accounting_entry.amount | euro}}</td>
              <td><a href="{% url 'dkapp:contract' accounting_entry.contract.id %}">{{accounting_entry.contract}}</a></td>
              <td><a href="{% url 'dkapp:accounting_entry' accounting_entry.id %}">Anzeigen</a></td>
              <td><a href="{% url 'dkapp:accounting_entry_edit' accounting_entry.id %}">Editieren</a></td>
          </tr>
      {% endfor %}
    </table>
{% else %}
    <p>Keine Buchungen vorhanden.</p>
{% endif %}

{% endblock %}
