{% extends "base.html" %}
{% block title %}Kontakt {{contact.last_name}}{% endblock %}

{% block content %}

{% if error_message %}<div><strong>{{ error_message }}</strong></div>{% endif %}

<div>
  <b>Name:</b>
  {{contact.last_name}}
</div>

<div>
  <b>Vorname:</b>
  {{contact.first_name}}
</div>

<div>
  <b>Adresse:</b>
  {{contact.address}}
</div>

<div>
  <b>E-Mail:</b>
  {{contact.email}}
</div>

<div>
  <b>Telefonnummer:</b>
  {{contact.phone}}
</div>

<div>
  <b>IBAN:</b>
  {{contact.iban}}
</div>

<div>
  <b>BIC:</b>
  {{contact.bic}}
</div>

<div>
  <b>Bankname:</b>
  {{contact.bank_name}}
</div>

<div>
  <b>Bemerkung:</b>
  {{contact.remark}}
</div>

<div>
    <a href="{% url 'dkapp:contract_edit' contract.id %}">Editieren</a></br>
    <a href="{% url 'dkapp:contract_delete' contract.id %}">Löschen</a></br>

      <td><%= link_to 'Buchung erstellen', new_contract_accounting_entry_path(contract) %>
          <%= link_to 'Vertragsversion erstellen', new_contract_contract_version_path(contract) %>
          <%= link_to 'Kontoauszug', contract_accounting_entries_path(contract) %></td>

    <hr>
    <a href="{% url 'dkapp:contacts' %}">Alle Kontakte</a>
</div>
{% endblock %}
