{% extends "base.html" %}
{% load my_filters %}
{% block title %}Direktkreditvertrag {{contract.number}}{% endblock %}

{% block content %}

{% if error_message %}<div><strong>{{ error_message }}</strong></div>{% endif %}

<p>
Start, Laufzeit und Zinssatz der <i>letzen Version</i> des Vertrags
</p>

<div>
  <b>Nummer:</b>
  {{contract.number}}
</div>

<div>
  <b>Kontakt:</b>
  {{contract.contact.full_name}}
</div>

<div>
  <b>Kontostand:</b>
  {{contract.balance | euro}}
</div>

<div>
  <b>Start:</b>
  {{contract.last_version.start | date:"SHORT_DATE_FORMAT"}}
</div>

<div>
  <b>Laufzeit in Monaten:</b>
  {{contract.last_version.duration_months | default_if_none:'-'}}
</div>

<div>
  <b>Laufzeit in Jahren:</b>
  {{contract.last_version.duration_years | default_if_none:'-'}}
</div>

<div>
  <b>Zinssatz:</b>
  {{contract.last_version.interest_rate | fraction}}
</div>

<div>
  <b>Typ:</b>
  {{contract.category}}
</div>

<div>
  <b>Bemerkung:</b>
  {{contract.comment}}
</div>

<br/>
<div>
    <a href="{% url 'dkapp:contract_edit' contract.id %}">Editieren</a><br/>
    <a href="{% url 'dkapp:contract_delete' contract.id %}">Löschen</a><br/>
    <a href="{% url 'dkapp:contract_accounting_entry_new' contract.id %}">Buchung erstellen</a><br/>
    <a href="{% url 'dkapp:contract_version_new' contract.id %}">Vertragsversion erstellen</a><br/>
    <a href="{% url 'dkapp:contract_accounting_entries' contract.id %}">Kontoauszug</a><br/>

    <hr>
    <a href="{% url 'dkapp:contracts' %}">Alle Verträge</a><br/>
    <a href="{% url 'dkapp:contacts' %}">Alle Kontakte</a>
</div>
{% endblock %}
