{% if error_message %}<div><strong>{{ error_message }}</strong></div>{% endif %}

<div>
  <b>Name:</b>
  {{contact.last_name}}
</div>

<div>
  <b>Vorname:</b>
  {{contact.first_name}}
</div>

<div>
  <b>Adresse:</b>
  {{contact.address}}
</div>

<div>
  <b>E-Mail:</b>
  {{contact.email}}
</div>

<div>
  <b>Telefonnummer:</b>
  {{contact.phone}}
</div>

<div>
  <b>IBAN:</b>
  {{contact.iban}}
</div>

<div>
  <b>BIC:</b>
  {{contact.bic}}
</div>

<div>
  <b>Bankname:</b>
  {{contact.bank_name}}
</div>

<div>
  <b>Bemerkung:</b>
  {{contact.remark}}
</div>

<div>
    <a href="{% url 'dkapp:contact_edit' contact.id %}">Editieren</a></br>
    <a href="{% url 'dkapp:contact_delete' contact.id %}">Löschen</a></br>
    <a href="{% url 'dkapp:contacts' %}">Alle Kontakte</a>
</div>
